<header class="container">
  <nav>
    <ul><li><a href="/" class="logo">skills<span>.gather</span></a></li></ul>
    <ul>
      <li><a href="/">Skills</a></li>
      <li><a href="/search">Search</a></li>
      <li><a href="/leaderboard">Leaderboard</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/docs">Docs</a></li>
    </ul>
  </nav>
</header>
